<mat-tab-group >
    <mat-tab label="My schedule"> <div class="position"> </div> </mat-tab>
        <mat-tab label="Check Requests"><div class="position">
            <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">Check Scheduled</button>
        </div>
        </mat-tab>
        <mat-tab label="Send Request"> <div class="position"> </div> </mat-tab>
        <mat-tab label="View Friends">  <div class="position"> </div></mat-tab>
    </mat-tab-group>

    <div class="container">

    <div class="main-content">
        <div class="schedule">

        </div>

    </div>
</div>

